.xfce4-panel {
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background-color: rgba(27,34,36,0.92); /* semi-tranparency is only known way to have  */
    font-family: 'JetBrainsMono Nerd Font';
}
#XfcePanelWindowWrapper{
    background-color: rgba(27,34,36,0.92); /* this does the Whisker menu button and tray background. */
}
#whiskermenu-button{
    background-color: transparent;         /* whisker menu button has two background layers */
}
